/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif !important; */
}
html, body {
    overflow-x: hidden !important;
}
body.drive-modal-open {
    overflow: hidden;
}
.drive-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000a7;
    display: none;
}
.drive-modal.active {
    display: flex;
}
.drive-modal .container {
    width: 900px;
    background: #111;
    padding: 30px;
    border-radius: 6px;
}
section {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
#home {
    padding: 0;
}

header {
    width: 100%;
    /* height: 70px; */
    padding: 10px 0;
    background: #fff;
    /* position: sticky;
    top: 0;
    z-index: 5; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 200px;
    margin-top: 5px;
}
header .navigation , .nav-btn{
    display: flex;
    align-items: center;
    justify-content: end;
}
header .navigation {
    transition: .4s;
}

header .navigation.active {
    top: 65px;
    right: 0; 
} 
header .navigation.active button {
    margin: 0;
}
header a {
    text-decoration: none;
    color: #111;
    margin: 015px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-weight: 600;
    transition: .3s;
}
header a:hover {
    color: #ED1C24;
}
header a.active {
    color: #ED1C24;
}
header button {
    color: #ED1C24;
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    /* letter-spacing: 2px; */
    /* font-weight: bold; */
    /* margin: 6px; */
    /* margin-left: 25px; */
}

header button:hover {
    color: #fff;
    background-color: #ED1C24;
}

.section-title {
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}
.nav-bars {
    width: 25px;
    margin-top: 5px;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}
.nav-bars span {
    width: 100%;
    height: 2px;
    background: #111;
    margin: 5px 0px;
    display: block;
}
.home-content {
    width: 100%;
    /* height: 110vh; */
}
.home-content h1 {
    font-size: 55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
}
.home-content p {
    color: #d6d6d6;
}
.img-gradient{
    width: 100%;
    height: 100%; 
    position:relative;
    display: flex !important;
  }
.img-gradient:after { 
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0, 1) 100%); /* W3C */
  }

.img-gradient img{  
    width: 100% !important;
    height: 100%; 
    position:relative;
    display:block; 
}
.setting_linear{
    position:relative;
    /* display:inline-block; */
  }

.setting_linear:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* W3C */
  }

.setting_linear img{
    /* position:relative; */
    display:block;
}

.home-content .home-icon {
    width: 28px !important;
}
#models-p {
    width: 100%;
    background: #000;
}
.swiper-button-next::after, .swiper-button-prev::after {
    color: #ddd;
    font-size: 25px !important;
}
.models-navigation p{
    cursor: pointer;
}
.models-navigation p.active {
    color: #ED1C24 !important;
    position: relative;
    display: flex;
    justify-content: center;
}
.models-navigation p:hover {
    color: #ED1C24 !important;
    position: relative;
    display: flex;
    justify-content: center;
}
.models-navigation p:hover::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 70%;
    height: 2px;
    background: #ED1C24;
}
.models-navigation p.active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 70%;
    height: 2px;
    background: #ED1C24;
}
.swiper-slide.modelSett {
    display: none !important;
}
.swiper-slide.modelExterior.hidden {
    display: none !important;
}
.swiper-slide.modelSett.hidden {
    display: none !important;
}
.swiper-slide.modelSett.active {
    display: flex !important;
}
.swiper-slide img {
    margin-left: -60px;
}
#settings .row div {
    background: #ED1C24;
    border-radius: 0 30px 0 0;
    color: #fff;
    /* padding-top: 10px !important; */
    padding-top: 10px;
    /* height: 200px; */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* overflow: hidden !important; */
}
.full-img {
    width: 100%; 
    height: 90vh; 
    object-fit: cover;
}
/* #settings .row div::after {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    background: green;
    margin: -20px;
    box-shadow: 0 0 0 450px #ED1C24;
    z-index: -1;
} */
#settings .container {
    position: relative;
    top: -110px;
}
/* #highlights .container {
    position: relative;
    top: -150px;
    color: #fff;
} */
/* #highlights .container h1 {
    font-size: 45px;
    letter-spacing: 2px;
} */
.highlights-content {
    width: 100%;
    display: flex;
    position: relative;
    /* top: -103px; */
}
.highlights-content div {
    width: 50%;
}
.highlights-content h3{
    color: #fff;
    position: relative;
    top: -50px;
    left: 20px;
}
.map iframe {
    width: 100% !important;
}
.filial h4 {
    cursor: pointer;
    padding: 10px;
    color: #fff;
}
.filial h4:hover {
    background: #fff;
    border-radius: 10px;
    color: #000;
}
.filial h4.active {
    background: #fff;
    border-radius: 10px;
    color: #000;
}
.btn1 {
    background: #ED1C24;
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
}
input.inp, select.selct {
    height: 45px;
    background: #242424;
    border: 1px solid #7A7A7A;
    margin-bottom: 20px;
    color: #fff;
}
input.inp::placeholder, #contact textarea::placeholder, select.selct {
    color: #7A7A7A;
}
#contact textarea {
    height: 200px;
    background: #242424;
    border: 1px solid #7A7A7A;
    margin-bottom: 20px;
    color: #fff;
}
footer p{
    margin: 0;
    padding-bottom: 20px;
}
.owl-carousel .owl-next, .owl-prev {
    width: 40px;
    background: #F5F5F5 !important;
}
.owl-carousel .owl-next:hover, .owl-prev:hover {
    color: #000 !important;
}
.owl-carousel .owl-next span, .owl-prev span {
    font-size: 28px;
}
.owl-carousel .owl-dots {
    display: none !important;
}
@media (max-width: 1200px) {
    header a, header button  {
        /* font-size: 12px; */
        /* position: relative; */
        /* top: 8px; */
    }
    header img {
        max-width: 140px;
        position: relative;
        /* top: 5px; */
    }
}
@media (max-width: 992px) {
    header {
        height: 65px;
        display: flex;
        align-items: center; 
    }
    header .navigation  {
        width: 100%; 
        height: 94vh;
        position: fixed;
        top: -94vh;
        right: 0;
        background: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        z-index: 888;
    }
    header .navigation a:nth-child(1) {
        margin-top: 60px;
    }
    header .navigation button {
        position: relative;
        top: 30px;
    }
    .nav-bars {
        display: block;
    }
    header button {
        font-size: 15px;
        position: relative;
        top: 5px;
    }
    .section-title {
        font-size: 35px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    #highlights .section-title {
        position: relative;
        top: -20px !important;
    }
    #highlights .container {
        position: relative;
        top: -40px;
    }
    /* #highlights .container h1 {
        font-size: 30px;
    } */
    .highlights-content {
        top: -50px;
    }
    .highlights-content {
        display: block;
    }
    .full-img {
        height: 100%;
        width: 100%;
    }
    .highlights-content div{
        width: 100%;
    }
    .highlights-content h3{
        left: 3px;
        font-size: 20px;
    }
}
@media (max-width: 697px) {
    #settings .container {
        position: relative;
        top: 0;
    }
    #settings .section-title {
        position: relative;
        top: 0 !important;
    }
    .swiper-slide img {
        margin-left: -30px;
    }
}